* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: rgb(228, 228, 228);
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    color: rgb(228, 228, 228);
    margin: 0;
    padding: 0;
}

nav {
    background: rgb(27, 27, 27);
    position: absolute;
    width: 100%;
    height: 100px;
}

ul.nav {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: x-large;
    height: 100px;
}

#binImg {
    width: 9vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#spawn {
    position: absolute;
    display: flex;
    width: 100%;
    height: 15vh;
    top: 100px;
    background-color: rgb(80, 0, 0, 0.1);
    align-items: flex-end;
}