* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: rgb(228, 228, 228);
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    color: rgb(228, 228, 228);
    margin: 0;
    padding: 0;
}

nav {
    background: rgb(27, 27, 27);
    position: fixed;
    width: 100%;
}

ul.nav {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: x-large;
}

div.bin {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

#binimg {
    width: 200px;
}